# postgresql
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT="5432"
POSTGRES_HOST_AUTH_METHOD="trust"
#---
POSTGRES_HOST_AUTH_METHOD="scram-sha-256"

#timezone
TZ="Europe/Moscow"
PGTZ="Europe/Moscow"

# --
AUTH_TYPE="scram-sha-256"

SECRET_KEY=""

# прочее
